# Imports

In [1]:
import numpy  as np
import pandas as pd

import matplotlib.pyplot as plt

from dstoolkit.feature_engine import SimpleLagTimeFeatureCreator

## Loading Dataset

In [2]:
# the data is from https://datahub.io/core/global-temp
df = pd.read_csv("../data/global_temperature_time_series.csv")

In [3]:
df.head()

  Source     Year    Mean
0   gcag  1850-01 -0.6746
1   gcag  1850-02 -0.3334
2   gcag  1850-03 -0.5913
3   gcag  1850-04 -0.5887
4   gcag  1850-05 -0.5088

In [4]:
df = df.drop(['Source'], axis=1).rename({'Year': 'time', 'Mean': 'temperature'}, axis=1)
df['time'] = pd.to_datetime(df['time'])

## Class SimpleLagTimeFeatureCreator

In [6]:
df = df.loc[:, ['time', 'temperature']].sample(frac=1)
df.head()

           time  temperature
1212 1915-07-01      -0.1300
1004 1906-11-01      -0.3800
33   1852-10-01      -0.1724
2004 1948-07-01      -0.1100
2052 1950-07-01      -0.0800

In [7]:
s = SimpleLagTimeFeatureCreator(windows=[2, 3, 4, 5, 6], functions=['mean', 'median', 'max', 'min', 'sum', 'std', 'diff', 'slope'])
df = s.create(df, 'temperature', time='time')

In [8]:
df.head(10)

,time,temperature,temperature_lag_1,temperature_lag_2,temperature_lag_3,temperature_lag_4,temperature_lag_5,temperature_lag_6,temperature_mean_2_lags,temperature_mean_3_lags,...,temperature_diff_lag_2_vs_3,temperature_diff_lag_2_vs_4,temperature_diff_lag_2_vs_5,temperature_diff_lag_2_vs_6,temperature_diff_lag_3_vs_4,temperature_diff_lag_3_vs_5,temperature_diff_lag_3_vs_6,temperature_diff_lag_4_vs_5,temperature_diff_lag_4_vs_6,temperature_diff_lag_5_vs_6
0,1850-01-01,-0.6746,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1850-02-01,-0.3334,-0.6746,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1850-03-01,-0.5913,-0.3334,-0.6746,NaN,NaN,NaN,NaN,-0.50400,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1850-04-01,-0.5887,-0.5913,-0.3334,-0.6746,NaN,NaN,NaN,-0.46235,-0.533100,...,0.3412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1850-05-01,-0.5088,-0.5887,-0.5913,-0.3334,-0.6746,NaN,NaN,-0.59000,-0.504467,...,-0.2579,0.0833,NaN,NaN,0.3412,NaN,NaN,NaN,NaN,NaN
5,1850-06-01,-0.3442,-0.5088,-0.5887,-0.5913,-0.3334,-0.6746,NaN,-0.54875,-0.562933,...,0.0026,-0.2553,0.0859,NaN,-0.2579,0.0833,NaN,0.3412,NaN,NaN
6,1850-07-01,-0.1598,-0.3442,-0.5088,-0.5887,-0.5913,-0.3334,-0.6746,-0.42650,-0.480567,...,0.0799,0.0825,-0.1754,0.1658,0.0026,-0.2553,0.0859,-0.2579,0.0833,0.3412
7,1850-08-01,-0.2077,-0.1598,-0.3442,-0.5088,-0.5887,-0.5913,-0.3334,-0.25200,-0.337600,...,0.1646,0.2445,0.2471,-0.0108,0.0799,0.0825,-0.1754,0.0026,-0.2553,-0.2579
8,1850-09-01,-0.3847,-0.2077,-0.1598,-0.3442,-0.5088,-0.5887,-0.5913,-0.18375,-0.237233,...,0.1844,0.3490,0.4289,0.4315,0.1646,0.2445,0.2471,0.0799,0.0825,0.0026
9,1850-10-01,-0.5331,-0.3847,-0.2077,-0.1598,-0.3442,-0.5088,-0.5887,-0.29620,-0.250733,...,-0.0479,0.1365,0.3011,0.3810,0.1844,0.3490,0.4289,0.1646,0.2445,0.0799

In [9]:
df.tail(10)

,time,temperature,temperature_lag_1,temperature_lag_2,temperature_lag_3,temperature_lag_4,temperature_lag_5,temperature_lag_6,temperature_mean_2_lags,temperature_mean_3_lags,...,temperature_diff_lag_2_vs_3,temperature_diff_lag_2_vs_4,temperature_diff_lag_2_vs_5,temperature_diff_lag_2_vs_6,temperature_diff_lag_3_vs_4,temperature_diff_lag_3_vs_5,temperature_diff_lag_3_vs_6,temperature_diff_lag_4_vs_5,temperature_diff_lag_4_vs_6,temperature_diff_lag_5_vs_6
3813,2023-11-01,1.3338,1.4200,1.3400,1.2866,1.3522,1.4800,1.1993,1.38000,1.348867,...,0.0534,-0.0122,-0.1400,0.1407,-0.0656,-0.1934,0.0873,-0.1278,0.1529,0.2807
3814,2023-12-01,1.3500,1.3338,1.4200,1.3400,1.2866,1.3522,1.4800,1.37690,1.364600,...,0.0800,0.1334,0.0678,-0.0600,0.0534,-0.0122,-0.1400,-0.0656,-0.1934,-0.1278
3815,2023-12-01,1.2586,1.3500,1.3338,1.4200,1.3400,1.2866,1.3522,1.34190,1.367933,...,-0.0862,-0.0062,0.0472,-0.0184,0.0800,0.1334,0.0678,0.0534,-0.0122,-0.0656
3816,2024-01-01,1.1516,1.2586,1.3500,1.3338,1.4200,1.3400,1.2866,1.30430,1.314133,...,0.0162,-0.0700,0.0100,0.0634,-0.0862,-0.0062,0.0472,0.0800,0.1334,0.0534
3817,2024-02-01,1.2902,1.1516,1.2586,1.3500,1.3338,1.4200,1.3400,1.20510,1.253400,...,-0.0914,-0.0752,-0.1614,-0.0814,0.0162,-0.0700,0.0100,-0.0862,-0.0062,0.0800
3818,2024-03-01,1.2515,1.2902,1.1516,1.2586,1.3500,1.3338,1.4200,1.22090,1.233467,...,-0.1070,-0.1984,-0.1822,-0.2684,-0.0914,-0.0752,-0.1614,0.0162,-0.0700,-0.0862
3819,2024-04-01,1.2053,1.2515,1.2902,1.1516,1.2586,1.3500,1.3338,1.27085,1.231100,...,0.1386,0.0316,-0.0598,-0.0436,-0.1070,-0.1984,-0.1822,-0.0914,-0.0752,0.0162
3820,2024-05-01,1.0745,1.2053,1.2515,1.2902,1.1516,1.2586,1.3500,1.22840,1.249000,...,-0.0387,0.0999,-0.0071,-0.0985,0.1386,0.0316,-0.0598,-0.1070,-0.1984,-0.0914
3821,2024-06-01,1.1154,1.0745,1.2053,1.2515,1.2902,1.1516,1.2586,1.13990,1.177100,...,-0.0462,-0.0849,0.0537,-0.0533,-0.0387,0.0999,-0.0071,0.1386,0.0316,-0.1070
3822,2024-07-01,1.1398,1.1154,1.0745,1.2053,1.2515,1.2902,1.1516,1.09495,1.131733,...,-0.1308,-0.1770,-0.2157,-0.0771,-0.0462,-0.0849,0.0537,-0.0387,0.0999,0.1386